/* Copyright © 2023 Massimo Gismondi
This file is part of SimplePHPdocs.

SimplePHPdocs is free software: you can redistribute it and/or
modify it under the terms of the GNU Affero General Public License
as published by the Free Software Foundation, either version 3 of the License,
or (at your option) any later version.

SimplePHPdocs is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with SimplePHPdocs.
If not, see <https://www.gnu.org/licenses/>. */
:root
{
    --error-border:#d81b60;
    --error: #ffd4e5;
}

.button.pagebutton
{
    background-color: black;
}
.button.search_button img
{
    width: 16px;
}

.CodeMirror, .CodeMirror-scroll {
	max-height: 90vh;
}

.thumbnail
{
    max-width: 100%;
    max-height: 150px;
}

.logo
{
    margin-top: 1em;
    width: 4em;
    height: auto;
}

#search_button_checkbox
{
    display: none;
}

#search_button_checkbox:checked ~ .modal
{
    display: block;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(107, 107, 107, 0.26);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal
{
    display: none;
}
.modal > div
{
    width: 50vw;
    background-color: var(--bg);
    border-radius: 16px;
    padding: 16px;
}
@media only screen and (max-width: 600px)
{
    .modal > div
    {
        width: 90vw
    }
}
@media only screen and (max-width: 1024px)
{
    .modal > div
    {
        width: 75vw
    }
}

#content_search_results
{
    height: 60vh;
    overflow-y: auto;
}

.notice.error
{
    border-color: var(--error-border);
    background-color: var(--error);
}

img
{
    max-height: max(30rem, 20vh);
}
